* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
  background-image: url(./images/V.E.I.L\ wall.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-box {
      width: 90%;
      max-width: 400px;
      padding: 2em;
      border-radius: 10px;
}
input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 1em;
      margin-bottom: 1em;
      border: none;
      border-radius: 5px;
      background-color: #222;
      color: #0f0;
      font-size: 1em;
    }
input[type="submit"] {
      width: 100%;
      padding: 1em;
      color: #000;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    input[type="submit"]:hover {
      background-color: rgb(31, 35, 31);
    }


